body{
    background-image: url("images/photo-baloon.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#btn{
    background-color: #fff;
    border-radius: 50px;
    padding:10px;
    font-size: 30px;
    border: 1px solid #FF3D68;
    font-family: 'Lobster', cursive;
    position: fixed;
    opacity:1;
}
#par{
    display:none;
    font-family: 'Lobster', cursive;
    font-size: 28px;
    background-color: #fff;
    margin-top:500px;
    padding:20px;
    border: 5px solid #78DEC7;
    border-radius: 50px;
    width:70%;
    text-align: center;
}
@media all and ( max-width: 800px ) {
  #btn{
    font-size:25px;
  }
  #par{
    font-size:18px;
  }
}

@media all and ( max-width: 500px ) {
    #btn{
        font-size:20px;
    }
    #par{
        font-size:15px;
    }
}
